$highlight: #8b9ae0 !default;
$selection: #8b9ae0 !default;

//$board-bg : "../images/boards/grey.jpg" !default;
//$board-bg : "../images/boards/BoardStoneBig.jpg" !default;
$board-bg : "../images/boards/boardmarbletiled.png" !default;

$board-size : 480px !default;
$step-to-img : "../images/green-circle.png" !default;

//Css file for the game client

.boardPane {
  display: flex;
  flex-flow: column;
  float: left;
}

.sidePane {
  display: flex;
  flex-flow: column;
  height: $board-size;
  float: left;
  margin-left:10px;
  margin-bottom:10px;
  margin-right:10px;
}

.topPlayerInfo {
  flex: initial;
  margin-bottom:10px;
}

.bottomPlayerInfo {
  flex: initial;
  margin-top:10px;
}

.boardButtons {
  margin-top:10px;
  margin-bottom:10px;
  button {
    min-height: 25px;
    margin-right: 5px;
  }
}

.goldPlayerPanel {
  padding: 10px 10px 5px 10px;
  background: $gold;
  border-radius: 5px;
}

.silverPlayerPanel {
  padding: 10px 10px 5px 10px;
  background: $silver;
  border-radius: 5px;
}

.clockSpan { 
}
.clockLowTime {
  color:#440000;
}
.clockVeryLowTime {
  font-weight: bold;
  color:red;  
}

.tcSpan {
  margin-left: 20px;
}
.tcOvertime {
  font-weight:bold;
  color:orange;
}

//Board display----------------------------------------------------------------------

.board {
  width:$board-size;
  height:$board-size;
  background: no-repeat center url($board-bg);
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.square {
  position:relative;
  width: 12.5%;
  height: 12.5%;
}

.subSquare {
  width: 100%;
  height: 100%;
}
.subSquare.selected {
  background: rgba(20, 20, 70, 0.6);
}

.subSquare.stepTo {
  background: no-repeat center url($step-to-img);
}

.coordLabel {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.pieceImg {
  position:relative;
  width:100%;
  height:100%;
}

//Movelist----------------------------------------------------------------------------

table.moveList {
  border-width: 2px;
  border-color: $panel-bg;
  flex: auto;
  width: 270px;
  display: block;
  overflow:auto;
}
table.moveList thead, table.moveList tbody {
  width: 100%;
}
table.moveList tbody {
  overflow: auto;
}

table.moveList tr.g {
  width: 100%;
  display: table;
  text-align: left;
  background-color: $gold;
}

table.moveList tr.s {
  width: 100%;
  display: table;
  text-align: left;
  background-color: $silver;
}


table.moveList tr:hover {
    background: $highlight;
    cursor: pointer;
}

table.moveList th, table.moveList td {
    width: 20px;
    padding-left: 3px;
    vertical-align: top;
    font-size: 13px;
}

table.moveList td + td{  /* 2nd column */
    padding-right: 3px;
    width: 220px;
    font-size: 14px;
}

table.moveList tr.selected  {
    background: $selection;
}
