
//Css file for the game client

.sidepane {
  float: left;
}

//Board display----------------------------------------------------------------------

.board {
  width:$board-size;
  height:$board-size;
  background: no-repeat center url($board-bg);
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.square {
  position:relative;
  width: 12.5%;
  height: 12.5%;
}

.subSquare {
  width: 100%;
  height: 100%;
}
.subSquare.selected {
  background: rgba(20, 20, 70, 0.6);
}

.subSquare.stepTo {
  background: no-repeat center url($step-to-img);
}

.coordLabel {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.pieceImg {
  position:relative;
  width:100%;
  height:100%;
}

//Movelist----------------------------------------------------------------------------

table.moveList {
    /*display: table;*/
    background-color: #000;
    height: 360px;
    width: 270px;
}
table.moveList thead, table.moveList tbody {
	width: 100%;
}
table.moveList tbody {
    overflow: auto;
}

table.moveList tr.g {
  width: 100%;
  display: table;
  text-align: left;
  background-color: $gold;
}

table.moveList tr.s {
  width: 100%;
  display: table;
  text-align: left;
  background-color: $silver;
}


table.moveList tr:hover {
    background: $highlight;
    cursor: pointer;
}

table.moveList th, table.moveList td {
    width: 20px;
    padding-left: 3px;
    vertical-align: top;
    font-size: 13px;
}

table.moveList td + td{  /* 2nd column */
    padding-right: 3px;
    width: 220px;
    font-size: 14px;
}

table.moveList tr.selected {
    background: $selection;
}
