$silver : #A9D5E4 !default;
$silver-border : #aaaaff !default;
$silver-shadow : #5588ff !default;
$gold : #E4D5A6 !default;
$gold-border : #ffaa77 !default;
$gold-shadow : #ff8811 !default;

$highlight: #8b9ae0 !default;
$selection: #8b9ae0 !default;

$body-bg : #dddddd !default;
$panel-bg : #505050 !default;
$panel-border-color : #808080 !default;
$game-bg : #272727 !default;

$font-stack: 'Quattrocento Sans', sans-serif;
$title-font-stack: 'Dosis', sans-serif;

@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:700,400,400italic|Dosis:400,700);

@import 'board';

//http://stackoverflow.com/questions/2920306/google-chrome-form-autofill-and-its-yellow-background?lq=1
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #777 inset;
    -webkit-text-fill-color: #fff;
    color: #fff !important;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #777 inset;
    -webkit-text-fill-color: #fff;
    color: #fff !important;
}

html {
  height: 100%;
}

body {
  height: 100%;
  box-sizing: border-box;
  font-family: $font-stack;
  background : $body-bg;
  margin: 0px;
  padding: 8px 8px 15px 8px;
  display:-webkit-flex;
  display:flex;
  flex-flow:column;
}

#app_container {
  display:-webkit-flex;
  display:flex;
  flex-flow:column;
  -webkit-flex:auto;
  -ms-flex:auto;
  flex:auto;
  min-height:0;
  overflow:auto;
}

.app {
  display:-webkit-flex;
  display:flex;
  flex-flow:column;
  -webkit-flex:auto;
  -ms-flex:auto;
  flex:auto;
  min-height:0;
}

footer {
  text-align: center;
  margin: 8px;
  z-index: -1;
}

h1 {
  font-family: $title-font-stack;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0px;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0px;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0px;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0px;
}

.titlePieceLeft {
  vertical-align:top;
  margin-right: 10px;
  width:50px;
}
.titlePieceRight {
  vertical-align:top;
  margin-left: 10px;
  width:50px;
}


.vPadding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.bMargin {
  margin-bottom: 10px !important;
}

.small {
  font-size: 14px;
}

.uiPanel {
  padding: 10px 10px 5px 10px;
  background: $panel-bg;
  border-radius: 5px;
  border-style: outset;
  border-width: thin;
  border-color: $panel-border-color;
  color: white;
  //@include box-shadow(0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3));

  h1 {
    //margin: -20px -20px 21px;
    //line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    //text-shadow: 0 1px white;
    //@include linear-gradient(top, whiteffd, #eef2f5);
    //@include box-shadow(0 1px #f5f5f5);
  }

  input.submit, button {
    margin: 2px;
    background: #51C49C;
    border: none;
    color: white;
    height: 34px;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
  }

  input.submit:active, button:active {
    background: #28624E;
  }

  input.submit.yes, button.yes {
    margin: 2px 4px 2px 4px;
    background: #51D470;
    height: 24px;
  }
  input.submit.yes:active, button.yes:active {
    background: #286A38;
  }

  input.submit.no, button.no {
    margin: 2px 4px 2px 4px;
    background: #D45170;
    height: 24px;
  }
  input.submit.no:active, button.no:active {
    background: #6A2838;
  }

  input.submit.gameButton, button.gameButton {
    margin: 2px 4px 2px 4px;
    height: 24px;
  }
  input.submit.gameButton:active, button.gameButton:active {
  }

  input.submit.goToOurGame, button.goToOurGame {
    margin: 2px 4px 2px 4px;
    background: #5170D4;
    height: 24px;
  }
  input.submit.goToOurGame:active, button.goToOurGame:active {
    background: #28386A;
  }

  input[type=text], input[type=password] {
    margin: 2px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    border: 1px solid #555;
    height: 34px;
  }

  a {
    color: #ccc;
  }

}

.center {
  margin: 0px auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  width: 360px;
  text-align: center;

  input[type=text], input[type=password] {
    background: #777;
    color: white;
    width: 100%;
    height: 40px;
  }

  input.submit, button {
    margin-top: 16px;
    width: 100%;
    font-size: 14px;
    height: 40px;
  }
}

div.error {
  padding-top: 6px;
  color:red;
}

div.bigError {
  padding-top: 6px;
  font-size: 150%;
  font-weight: bold;
  color:red;
}

.navItem {
  margin-left:10px;
  margin-right:10px;
}

.navItemRight {
  float:right;
}

.notificationsList {
  margin-top:0.5em;
  margin-bottom:0.5em;
}
.gameroom {
  display:-webkit-flex;
  display:flex;
  flex-flow:column;
  -webkit-flex:auto;
  -ms-flex:auto;
  flex:auto;
  min-height:0;
}

.gameroomPanels {
  display:-webkit-flex;
  display:flex;
  -webkit-flex:auto;
  -ms-flex:auto;
  flex:auto;
  min-height:0;
}

.games {
  width:50%;
  display:-webkit-flex;
  display:flex;
  flex-flow:column;
  min-height:0;
}

.gamesContents {
  -webkit-flex:auto;
  -ms-flex:auto;
  flex:auto;
  display:-webkit-flex;
  display:flex;
  height: 70%;
  min-height:0;
}

.gamesLists {
  -webkit-flex:auto;
  -ms-flex:auto;
  flex:auto;
  display:-webkit-flex;
  display:flex;
  flex-flow:column;
  min-height:0;
}

.gamesList {
  min-height:50px;
}

.gameroomGameElt.quickHighlightOrange {
  background: orange;
  transition:background 0.1s;
}
.gameroomGameElt.quickHighlightGreen {
  background: #00FF00;
  transition:background 0.1s;
}
.gameroomGameElt {
  background: $game-bg;
  transition:background 3s;
  margin: 2px;
  padding: 6px;
  border-radius:4px;
}

.gameroomUsersDiv {
  overflow:auto;
}
.gameroomLabeledUsersDiv {
  float:right;
  -webkit-flex:0.15 1 auto;
  -ms-flex:0.15 1 auto;
  flex: 0.15 1 auto;
  margin-left: 8px;
  min-height:100px;
}

.chat {
  width:50%;
  display:-webkit-flex;
  display:flex;
  flex-flow:column;
  margin-left: 10px;
  min-height:0;
}

.chatContents {
  -webkit-flex:auto;
  -ms-flex:auto;
  flex:auto;
  display:-webkit-flex;
  display:flex;
  height: 70%;
  min-height:0;
}

.chatUsersDiv {
  overflow:auto;
}
.chatLabeledUsersDiv {
  float:right;
  -webkit-flex:0.15 1 auto;
  -ms-flex:0.15 1 auto;
  flex: 0.15 1 auto;
  margin-left: 8px;
  min-height:100px;
}

.chatUI {
  -webkit-flex:auto;
  -ms-flex:auto;
  flex:auto;
  display:-webkit-flex;
  display:flex;
  flex-flow:column;
  min-height:200px;
}

.chatTable {
  overflow:auto;
  display:-webkit-flex;
  display:flex;
  background:white;
  color:black;
  border-radius:1px;
  margin-bottom:4px;
  border-style:inset;
  border-width:thin;
  font-size:90%;
  min-height:150px;
}

.chatForm {
  display:-webkit-flex;
  display:flex;
}

.chatInput {
  -webkit-flex:auto;
  -ms-flex:auto;
  flex:auto;
  width:100px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
