doctype html
html(lang="en")
	head
		link(href='/style/style.css', rel='stylesheet')
		link(href='/images/silverelephanticon.png', rel='icon', type='image/png')
		title playarimaa.org
	body
		block content
		footer
			|playarimaa.org (alpha test - this site is still under development)
